<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1_image.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>2_camera.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>3_drawing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>4_grayscale.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>5_harr_like.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>6_akaze.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>371E26461BCE505300EE613B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>371E26791BCE558D00EE613B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>371E26841BCE55C000EE613B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>371E268C1BCE55EB00EE613B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>371E26A81BCE574D00EE613B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>371E26C71BCE59A500EE613B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>371E26E71BCE5A8D00EE613B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>371E27041BCE5D2000EE613B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
