<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1_cursor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>2_slider.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>3_labeling.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>p1_diff_background.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>p1_diff_background_adv.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>p2_diff_labeling.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>p2_diff_labeling_adv.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>371E26461BCE505300EE613B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37CA8AD71BD78E29004ECA1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37CA8AF21BD78F1B004ECA1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37CA8B0D1BD792EF004ECA1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37CA8B281BD79641004ECA1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37CA8B431BD796DD004ECA1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37CA8B5E1BD79869004ECA1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
